@media screen and (max-width:1400px) {
    .OOTD{
        width: 80vw !important;
        height: 470px;
        margin-left: 10% !important;
    }
    .IMGBOX{
        height: 400px !important;
    }
    .LeftOOTD img{
    }
    .RightBox{
        height: 353px !important;
    }
    .Snap{
        margin-left: 10% !important;
    }

}
@media screen and (max-width:721px) {
    .OOTD{
        width: 80vw !important;
        margin-left: 10% !important;
    }
    .LeftOOTD img{
        height: 500px !important;
    }
    .RightBox{
        height: 450px !important;
    }
    .Snap{
        margin-left: 10% !important;
    }

}
.OOTD{
    width: 60vw;
    border: 1px solid #000;
    font-family: 'GongGothicMedium';
    float: left;
    margin-top: 60px;
    margin-left: 20%;
    margin-bottom: 60px;

}
.OOTDHeader{
    width: 100%;
    border: 1px solid #000;

    background-color: black;
    height: 30px;
    float: left;
}
.UserInfo{
    margin: 0;
    margin-left: 5px;
    float: left;
    line-height: 30px;
    color:white;
    font-size: 14px;
}
.Delete{
    float: right;
    line-height: 30px;

}
.Star{
    color:yellow;
    line-height: 30px;
    float: right;
}
.IMGBOX{
    width: 90%;
    margin:5% 2.5% 5% 3%;
    height: 600px;
    background-color: gray;
}

.LeftOOTD img{
    float: left;
    object-fit: cover;
    width:100%;
    height: 100%;
    padding: 0;

}
.LeftOOTD{

    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    position: relative;
}



.LeftOOTD .UserSpec{
    margin-bottom: 5%;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: rgba(0,0,0,0.5);
    height: 40px;
}   
.LeftOOTD p{
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: 40px;
    color: white;
    padding: 0;
    bottom:5px;
    margin-left: 5px;
}
.LeftOOTD button{
    bottom:5px;
    right: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    border: 0px solid #000;
    padding: 0;
    color:white;
    font-size: 14px;
    line-height: 38px;
    margin-right: 5px;
    float: right;
}
.RightBox{
    margin-top: 2.5%;
    overflow-y: scroll;
    overflow-x:hidden;
    padding-left: 20px ;
    height: 550px;
    float: left;
    width: calc(48% - 15px);

}

.RightBox::-webkit-scrollbar{
    display: none;
  }
  
  
.OOTDInfo{
    
    object-fit: contain;
    position: relative;
    right: 20px;
    padding: 0;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    float: left;

}
.OOTDInfo img{
    margin-top: 2px;
    width: 100px;
    float: left;
    height: 120px;
    
}
.OOTDInfo p{
    margin: 0;
    padding: 0;

    float: left;
    margin-left: 10px;
    width: calc(100% - 220px);
}
.OOTD .Brand{
    margin-bottom: 10px;
    color:gray;
    font-size: 14px;
    margin-top: 8px;
}
.Name{
    margin-top: 13px !important;
    font-size: 14px;
}
.Size{
    margin-top: 3px !important;
    font-size: 13px;
}
.Categori{
    margin-top: 20px !important;
    font-size: 14px;
    width: calc(100% - 220px);
    float: left;
    margin-left: 10px;


}

.Shopping{
    width: 45px;
    background-color: white; 
    border: 0px ;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    height: 120px;
}
#Heart{
    position: relative;
    bottom: 5px;
    background-color: white; 
    border: 0px ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}
#Cart{
    position: relative;
    bottom: 2px;
    background-color: white; 
    border: 0px ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}


.Shopping img {
    width: 100%;
    height: 100%;
    object-fit:  contain;
}

.footMenu{
    width: 40%;
    float: left;
    width: calc(48% - 3px);


}
.footMenu button{
    cursor: pointer;
    padding: 0;
    width: 49%;
    font-family: 'GongGothicMedium';
    height: 45px;
    background-color: white;
    margin-top: 3px;
    line-height: 40px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-collapse: collapse;
}
.Comment{
    margin-left: 2%;
    
}


.Snap{
    font-family: 'Giants-Inline';
    font-weight: bold;
    border: 0px solid #000;
    position: relative;
    top: 60px;
    margin: 0;
    margin-left: 20%;
}
.CommentActive{
    background-color: black !important;
    color:white;
}
.LikeActive{
    border: 2px solid pink !important;

    background-color: pink !important;
}