@media screen and(max-width:1400px) {
    .AddOOTD{
        width: 80% !important;

        margin-left: 10% !important;
    }
}
.ADDALL{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 60px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.AddOOTD{
    width: 60%;
    height: 80vh;
    background-color: rgb(27, 23, 23);
    max-width: 1900px;
    position: absolute;
    z-index: 9;
    top: 60px;
    border: 2px solid white;
    box-shadow: 0 28px 42px rgba(243, 241, 241, 0.25), 0 10px 10px rgba(190, 190, 190, 0.22);

    margin-left: 20%;
}
.AddInputBox{
    color:white;
    font-family: 'GongGothicMedium';


}

.AddInputBox label{
    line-height: 35px;
    font-size: 1.2rem;
}
.AddInputBox input{

    width: 40%;
    border-radius: 15px;
    height: 3vh;
}
.Logo{
    font-family: 'Giants-Inline';

    
    margin: 0;
    padding: 0;
    float: left;
    
    width: 100%;
    text-align: left;
    background-color: palegoldenrod;
}
.Logo h1{
    width: 50%;
    float: left;
    margin-left: 2%;
    line-height: 20px;
}

.AddInputBox{

}
.OOTDInput {
    float: left;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 10%;
}
.OOTDInput input{
    width: 99%;
    font-size:1.2rem;
}
.ItemInput{
    float: left;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 10%;
}
.ItemInput input{
    width: 99%;
    font-size:1.2rem;
}
.ItemInput select{
    margin-left: 5px;
    width: 30%;
    border-radius: 10px;
    margin-top:10px;
    height: 30px;
}
.Close{
    color: red;
    text-align: right;
    font-family: 'GongGothicMedium';
    width: 45% !important;
    cursor: pointer;
}
.ButtonBox{
    width: 100%;
    float: left;
}
.ButtonBox button {
    margin-top: 10px;
    width: calc(33.3%);
    background-color: gray;
    color:white;
    border: 1px solid white;
    font-family: 'GongGothicMedium';

    height: 30px;

}
.Show{
    background-color: palegoldenrod !important;
    border: 1px solid white;
    color:black !important;

}


/*미리보기*/

.PreviewSection{
    background-color: white;
    position: absolute;
    height: 80vh;
    width: 100%;
    
}
.PreviewSection h1{
    color : black;
    width: 80%;
    margin-left:2.5%;
    line-height: 10px;
    float: left;
    font-family: 'Giants-Inline';

}
.Previewheader {
    background-color: palegoldenrod !important;
    float: left;width: 100%;
    height: 50px;
    color:black;
}
.ClosePrev{
    cursor: pointer;
    float: right;
    text-align: right;
    font-size: 30px;
    color:red;
    font-weight: bold;
    width: 10%;
    line-height: 50px;
    margin-right: 8px;
}
.PrevItem{  
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40vh;
    overflow-y: scroll;
    border-bottom: 2px solid #000;

}
.PrevItem::-webkit-scrollbar {
    display: none; /* WebKit */
  }
.PrevItem p{
    width: 100%;
    margin: 0;
    pad: 0;
    margin-left: 2.5%;
    float: left;
    width: auto;
    font-size: 14px;
    line-height: 50px;
    color:black;
    
}

.PrevItemBox{
    border: 2px solid #000;
    border-radius: 10px;
    float: left;
    width: 95%;
    margin: 2.5%;

    margin-bottom: 0;
    margin-top: 1.5%;
}
.PrevItemBox img{
    border-radius: 10px;
    margin-top: 1px;
    width: 48px;
    height: 48px;
    float: left;
}
.DeleteItem{
    float: right;
    line-height: 50px;
    cursor: pointer;
    margin-right: 15px;
}

.AddItemLogo{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: 'GongGothicMedium' !important; 

    color:black;
    margin-left: 2.5%;

}
.PrevInfo{
    width: 100%;
}
.AddItemLogoE{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-family: 'GongGothicMedium' !important; 

    color:black;
    margin-left: 2.5%;

}
.OOTDPreviewBox{
    color:black;
}
.OOTDPreviewBox img{
    
    color:black;
    float: left;
    margin-left: 2.5%;
    width: 200px;
    float: left;
    margin-top: 2%;
    height: 250px;
    background-color: antiquewhite;
}
.OOTDPreviewBox li{
    list-style: none;
}
.RightInfo{
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}