@media screen and (max-width:800px) {
    .CommentInfo{
        font-size: 11px !important;
        line-height: 10px !important;
        color:gray;
    }
    .CommentContent{
        font-size: 12px !important;
    }
}
@media screen and (max-width:400px) {
    .CommentInfo{
        font-size: 10px !important;
        line-height: 10px !important;
        color:gray;
    }
    .CommentContent{
        font-size: 11px !important;
    }
}
.CommentList li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.CommentList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

}
.CommentInfo{
    font-size: 13px;
    line-height: 20px;
    color:gray;
}
.CommentContent{
    line-height: 20px;
    font-size: 14px;
}
.CommentBox{
    position: relative;
    right: 19px;
    height: 100%;
    width: 100%;
}

.CommentBox textarea{
    position: absolute;
    width: 60%;
    bottom:0;
}
.CommentBox button{
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 40%; 
    border: 0 solid #000;
    background-color: #000;
    color: white !important;
    height: 36px;
    font-family: 'GongGothicMedium';
    font-size: 11px;
    color:black;
    box-sizing: border-box;

}