@media screen and (max-width:559px) {
    .HeaderMenu li{
        font-size: 14px;
        margin-right: 5% !important;
    }

}
@media screen and (max-width:410px) {
    .HeaderMenu li{
        font-size: 13px;
        margin-right: 3% !important;
    }

}
.Header{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: 60px;
}
.Header h1{
    font-family: 'Giants-Inline';

    /* font-family: 'PartialSansKR-Regular'; */
    margin: 0;
    float: left;
    padding: 0;
    line-height: 60px;
    color:white;
    margin-left:20px;
    font-size: 30px !important;
    font-weight: normal;
    width: 90px;
}
.HeaderMenu{
    font-family: 'Giants-Inline';
    width: 70%;
    line-height: 30px;
    font-size: 17px;
    float: left;
    color:white;
}
.HeaderMenu li{
    color:white;
    text-decoration: none;
    margin-right: 40px;
    float: left;
    list-style: none;
}

.ContentBox{
    background-color: palegoldenrod;
    width: 100%;
}